#
# Ignore everything needed to build production server.
#

/.vscode/
/.github/
/.mypy_cache/

/node_modules/
/images/

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks

**/*.png
**/*.pyc

# This will be generated on the image
/html/

.eslintrc.js
.prettierrc.js
